{% extends 'base_generic.html' %}
{% load static %}


{% block content %}
    <section class="telimciler_banner">
        <div class="row">
            <div class="col-sm-12">
                <p>Əsas Səhifə / Təlimçilər</p>
                <h2>Bizim Təlimçilərimiz</h2>
            </div>
        </div>
    </section>
    <div style="position: relative">
            <div class="white-wrap-top"></div>
        </div>
    <section class="telimciler  section_padding">
        <div class="container">
            <div class="row ">
                <div class="col-md-3">
                    <img src="{% static 'img/telimciler/1.png' %}">
                </div>
                <div class="col-md-3">
                        <img src="{% static 'img/telimciler/2.png' %}">
                </div>
                <div class="col-md-3">
                        <img src="{% static 'img/telimciler/3.png' %}">
                </div>
                <div class="col-md-3">
                        <img src="{% static 'img/telimciler/4.png' %}">
                </div> 
                <div class="col-md-3">
                        <img src="{% static 'img/telimciler/5.png' %}">
                    </div>
                    <div class="col-md-3">
                            <img src="{% static 'img/telimciler/6.png' %}">
                    </div>
                    <div class="col-md-3">
                            <img src="{% static 'img/telimciler/7.png' %}">
                    </div>
                    <div class="col-md-3">
                            <img src="{% static 'img/telimciler/8.png' %}">
                    </div>
                    <div class="col-md-3">
                            <img src="{% static 'img/telimciler/9.png' %}">
                    </div>  
            </div>
        </div>
    </section>

    <div style="position: relative">
            <div class="white-wrap-bottom"></div>
        </div>
    <section class="abune_ol_row">
        <h2>TT FIGHT CLUBA ABUNƏ OL</h2>
        <div class="row">

            <div class="col-6">
                <p>ƏSAS FİLİAL</p>
                <p>Dilarə Əliyeva 204<br>
                info@ttfightclub.az</p>
                <a href="tel:00994124939493">+994 (12) 493 94 93</a>
            </div>

            <div class="col-6">
                <p>ƏHMƏDLİ FİLİALI</p>
                <p>Məhəmməd Hadi 201<br>
                ehmedli@ttfightclub.az</p>
                <a href="tel:00994123706589">+994 (12) 370 65 89</a>
            </div>
        </div>
    </section>

    <section class="google_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4679658407968!2d49.84196371536036!3d40.376319879369866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307da5f117104b%3A0x91affb057663d9a0!2sTT+Fight+Club!5e0!3m2!1sen!2s!4v1551274548062" width="600" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
    </section>
{% endblock %}
